{
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    [
      "transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }
    ]
  ],
  "compact": "true",
  "env": {
    "production": {
      "plugins": [
        "lodash",
        "transform-flow-strip-types"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "sourceMaps": "both"
    }
  }
}
