{
  "customSyntax": "postcss-styled-syntax",
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-blockless", "first-nested"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["else"]
      }
    ],
    "at-rule-no-unknown": null,
    "color-named": "never",
    "declaration-block-no-redundant-longhand-properties": null,
    "declaration-empty-line-before": null,
    "declaration-property-value-disallowed-list": {
      "/^border/": ["none"]
    },
    "function-url-quotes": "always",
    "keyframes-name-pattern": null,
    "max-nesting-depth": 5,
    "media-query-no-invalid": null,
    "no-duplicate-selectors": true,
    "number-max-precision": 4,
    "property-no-vendor-prefix": true,
    "selector-class-pattern": "^((?:-{1,2}|_{2})?[a-z0-9]+(?:(?:-{1,2}|_{2})[a-z0-9]+)*)(?:-{1,2}|_{2})?$",
    "selector-max-compound-selectors": 5,
    "selector-max-specificity": "0,5,4",
    "selector-no-qualifying-type": [true, { "ignore": ["class"] }],
    "selector-pseudo-element-colon-notation": "single",
    "unit-disallowed-list": [
      ["rem", "em"]
    ],
    "value-keyword-case": null,
    "order/order": [
      "custom-properties",
      "declarations",
      "at-rules",
      "rules"
    ],
    "order/properties-alphabetical-order": true
  }
}
