.app__footer {
  border-top: 0.1rem solid #ddd;

  .app__container {
    padding-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;
  }

  &__github {
    display: flex;
    justify-content: space-between;
  }
}
