.system-notifications {
  background-color: #777;
  color: #fff;
  cursor: pointer;

  height: $header-height;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translate(0, -100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 100%;
  will-change: transform, opacity;
  z-index: 1000;

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.success {
    background-color: $brand-success;
  }

  &.warning {
    background-color: $brand-warning;
  }

  &.error {
    background-color: $brand-danger;
  }

  &.info {
    background-color: $brand-info;
  }

  > div {
    align-items: center;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 1.5rem, rgba(#000, 0.1) 1.5rem, rgba(#000, 0.1) 3rem);
    display: flex;
    height: 100%;
    justify-content: center;
  }

  [class^=i-] {
    flex: 0 auto;
    font-size: 2.4rem;
    margin-left: $grid-gutter-width / 2;
    margin-right: 2rem;
  }

  span {
    margin-right: $grid-gutter-width / 2;
  }
}
