.app__system-alerts {
  pointer-events: none;
  position: fixed;
  z-index: 1000;

  &__top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    .app__alert {
      border-radius: 0;
    }
  }

  &__top-left {
    left: 3rem;
    position: fixed;
    top: 3rem;
    width: 26rem;

    @include md {
      width: 32rem;
    }
  }

  &__top-right {
    position: fixed;
    right: 3rem;
    top: 3rem;
    width: 26rem;

    @include md {
      width: 32rem;
    }
  }

  &__bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

    .app__alert {
      border-radius: 0;
    }
  }

  &__bottom-left {
    bottom: 1.5rem;
    left: 3rem;
    position: fixed;
    width: 26rem;

    @include md {
      width: 32rem;
    }
  }

  &__bottom-right {
    bottom: 1.5rem;
    position: fixed;
    right: 1.5rem;
    width: 26rem;

    @include md {
      width: 32rem;
    }
  }

  .app__alert {
    box-shadow: 0.1rem 0.1rem 10rem rgba($black, 0.1);

    + .app__alert {
      margin-top: ($grid-gutter-width / 2);
    }
  }
}
