button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

.btn {
  box-shadow: none !important;
  outline: none !important;
}

.btn-icon {
  align-items: center;
  display: inline-flex;
  line-height: 1;

  span {
    font-weight: 700;
    margin-left: $grid-gutter-width / 6;
    text-transform: uppercase;
  }
}

.btn-loading {
  @include striped-bg();
  animation: btn-loading 0.5s linear infinite;
  filter: grayscale(30%);
  pointer-events: none;
  transition: none !important;

  &--light {
    @include striped-bg(45deg, $gray-500, $gray-400);
  }
}

@keyframes btn-loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 5.6rem 0;
  }
}
