.main {
  &-enter,
  &-exit {
    left: 50%;
    position: absolute;
    top: nth($header-height, 1);
    width: 100%;
    will-change: opacity, transform;

    @include lg {
      top: $header-height;
    }
  }

  &-enter {
    opacity: 0.01;
    transform: translate3d(-50%, 0, 0);
    z-index: 500;

    &.main-enter-active {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
      transition: opacity 0.2s 0.3s, transform 0.3s 0.2s ease-in-out;
      will-change: opacity, transform;
    }
  }

  &-exit {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
    z-index: 250;

    &.main-exit-active {
      opacity: 0.01;
      transform: translate3d(-50%, 0, 0);
      transition: opacity 0.3s, transform 0.2s ease-in-out;
    }
  }

  &-appear {
    opacity: 0.01;

    &.main-appear-active {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }
  }
}

.transition-slide-up {
  &-appear,
  &-enter {
    opacity: 0.01;
    transform: translate3d(0, 100%, 0);
  }

  &-appear {
    &.transition-slide-up-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-enter {
    &.transition-slide-up-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &.transition-slide-up-exit-active {
      opacity: 0.01;
      transform: translate3d(0, 100%, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }
}

.transition-slide-down {
  &-appear,
  &-enter {
    opacity: 0.01;
    transform: translate3d(0, -100%, 0);
  }

  &-appear {
    &.transition-slide-down-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-enter {
    &.transition-slide-down-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &.transition-slide-down-exit-active {
      opacity: 0.01;
      transform: translate3d(0, -100%, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }
}

.transition-slide-right {
  &-appear,
  &-enter {
    opacity: 0.01;
    transform: translate3d(-100%, 0, 0);
  }

  &-appear {
    &.transition-slide-right-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-enter {
    &.transition-slide-right-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &.transition-slide-right-exit-active {
      opacity: 0.01;
      transform: translate3d(-100%, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }
}

.transition-slide-left {
  &-appear,
  &-enter {
    opacity: 0.01;
    transform: translate3d(100%, 0, 0);
  }

  &-appear {
    &.transition-slide-left-appear-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-enter {
    &.transition-slide-left-enter-active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }

  &-exit {
    opacity: 1;
    transform: translate3d(0, 0, 0);

    &.transition-slide-left-exit-active {
      opacity: 0.01;
      transform: translate3d(100%, 0, 0);
      transition: 0.3s opacity, 0.3s transform $app-easing;
    }
  }
}

.transition-fade {
  &-appear,
  &-enter {
    opacity: 0.01;
  }

  &-appear {
    &.transition-fade-appear-active {
      opacity: 1;
      transition: 0.3s opacity;
    }
  }

  &-enter {
    &.transition-fade-enter-active {
      opacity: 1;
      transition: 0.3s opacity;
    }
  }

  &-exit {
    opacity: 1;

    &.transition-fade-exit-active {
      opacity: 0.01;
      transition: 0.3s opacity;
    }
  }
}

.toolbar-filters {
  &-appear,
  &-enter,
  &-exit {
    position: absolute;

    > .app__toolbar__filters__header {
      top: 0;
    }
  }

  &-appear {
    &.toolbar-filters-appear-active {
      transform: translate3d(0, 0, 0) !important;
      transition: transform 0.1s linear;
    }
  }

  &-enter {
    transform: translate3d(-100%, 0, 0);

    &.toolbar-filters-enter-active {
      transform: translate3d(0, 0, 0) !important;
      transition: transform 0.1s linear;
    }

    @at-root .app__toolbar__filters__transition.reverse & {
      transform: translate3d(100%, 0, 0);
    }
  }

  &-exit {
    position: absolute;
    transform: translate3d(0, 0, 0);

    &.toolbar-filters-exit-active {
      transform: translate3d(100%, 0, 0);
      transition: transform 0.1s linear;

      @at-root .app__toolbar__filters__transition.reverse & {
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}
