.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1 !important;
  position: relative;
  transition: opacity 0.5s;

  &__main {
    min-height: 100vh;

    @at-root .app--private & {
      padding: ($header-height + $grid-gutter-width) 0 ($footer-height + $grid-gutter-width);
    }
  }

  &__container {
    @include app-container();

    margin: 0 auto;
  }

  &__route {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }

  &__logout {
    span {
      margin-right: $grid-gutter-width / 6;
    }
  }
}
