.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }
}

#react {
  min-height: 100vh;
}

.not-found {
  text-align: center;

  h1 {
    font-size: 128px;
    margin: 0;

    @include sm {
      font-size: 256px;
    }
  }
}

.bricklayer-column-sizer {
  @include is {
    width: percentage(1 / 2);
  }

  @include md {
    width: percentage(1 / 3);
  }

  @include xl {
    width: percentage(1 / 4);
  }
}

.bricklayer-column {
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);

  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.6) translateX(-0.1rem);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeLoop {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
