.browsehappy {
  background: #ccc;
  color: #000;
  margin: 2rem 0;
  padding: 2rem 0;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  min-height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;

  &.disabled {
    pointer-events: none;
  }
}

.not-found {
  text-align: center;

  h1 {
    font-size: 12.8rem;
    margin: 0;

    @include sm {
      font-size: 25.6rem;
    }
  }
}
