.app__home {
  background: #000 linear-gradient(to bottom, $app-color 0%, darken($app-color, 40) 100%) fixed;
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  &:before {
    background: linear-gradient(to bottom, #000, #fff);
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(-20deg) scale(1.5) translate(0, 43%);
  }

  .app__container {
    position: relative;
    z-index: 10;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  &__header {
    margin-bottom: $grid-gutter-width;
    text-align: center;

    .app__logo {
      svg {
        width: 20rem;
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.4;
    margin-bottom: $grid-gutter-width;
    text-align: center;

    @include lg {
      font-size: 4rem;
    }
  }
}
