@import url('//fonts.googleapis.com/css?family=Lato:400,700');

$font-family-sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-lg: 2rem;

$line-height: 1.3;

$font-size-h1: 3.8rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;

$headings-font-family: Lato;
$headings-font-weight: 700;
